@tailwind base;
@tailwind components;
@tailwind utilities;

.Heading{
	font-size: 30px;
	margin-top: 10px;
	background-color: rgb(23, 21, 27);
	text-align: center;
	color: rgb(245, 245, 249);
}
.student{
	font-size: 20px;
	color: blue;
}
.form1{
	margin-left: 0px;
	background-color: rgb(213, 211, 218);
	
}
.form{
	background-color: rgb(213, 211, 218);
}